.main_contact_us_div{
    padding: 50px 130px;
}

@media (max-width:1024px) {
    .main_contact_us_div{
        padding: 50px 80px;
    }  
}
@media (max-width:850px) {
    .main_contact_us_div{
        padding: 50px 40px;
    }  
}