.main_hamis_archvment_div{
    display: flex;
    flex-direction: column;
}
.hamis_archvment_div{
    display: flex;
    gap: 40px;
    align-items: center;
    width: 100%;
    padding: 0px 50px;
    font-size: 30px;
    font-weight: bold;
    word-spacing: 1px;
    letter-spacing: 1px;
}
.hamis_archivment_images{
    width: 100%;
}
.hamis_archivment_text_section{
    font-family: var(--inter-font-family);
    color: #8A8A8A;
    font-weight: bold;

}